body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

ul {
  list-style: none;
}

header {
  background: #000;
  height: 80px;
  padding: 0 3%;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1088px;
  margin: 0 auto;
}

nav {
  height: 80px;
  max-width: 1088px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger-menu {
  display: none;
}

.menu-list {
  width: 30%;
  display: flex;
  justify-content: end;
  li {
    margin-left: 20%;
    a {
      font-family: "Lato", serif;
      color: #fff;
      font-size: 18px;
      font-weight: 700;
      line-height: 21.6px;
      &:hover {
        background-image: linear-gradient(
                        98.25deg,
                        #ebff00 18.56%,
                        #ff70d9 76.02%
        );
        -webkit-background-clip: text;
        color: transparent;
        transition: all 500ms;
      }
    }
  }
}

.menu-cart__link {
  width: 21px;
  height: 25px;
  display: block;
  svg:last-child {
    display: none;
  }
  &:hover {
    svg:first-child {
      display: none;
    }
    svg:last-child {
      display: block;
    }
  }
}

.discover {
  background-image: url("https://res.cloudinary.com/drfjcq9hg/image/upload/v1714899390/bushik123/oiq7xchuwciqcpkvp8yl.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 3% 120px;
  position: relative;
  overflow: hidden;
  background-position: center;
}

.discover-text__wrapper {
  z-index: 2;
  position: relative;
}

.discover-text__title {
  font-family: "Lato", serif;
  font-size: 72px;
  font-weight: 900;
  color: #fff;
  max-width: 693px;
  line-height: 72px;
  margin: 0;
  span {
    color: #ff70d9;
  }
}

.discover-text__subtitle {
  font-family: "Lato", serif;
  font-size: 32px;
  font-weight: 900;
  line-height: 38.4px;
  color: #fff;
  margin: 25px 0;
  span {
    color: #ebff00;
  }
}

.discover-text__link {
  background: #ebff00;
  padding: 14px 40px;
  font-family: "Lato", serif;
  font-size: 22px;
  line-height: 26.4px;
  color: #000000;
  border-radius: 40px;

  &:hover {
    background: #ebff0099;
    color: #000000;
    transition: all 500ms;
  }
}

.discover-icon {
  position: absolute;
  right: 0;
}

.offers {
  background: #1b2d58;
  padding: 60px 3% 0;
}

.offers-title {
  font-family: "Lato", serif;
  font-size: 32px;
  font-weight: 900;
  line-height: 38.4px;
  color: #fff;
  margin: 0 0 40px;
}

.offers-container {
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 40px;
  &:first-child {
    background-image: url("https://res.cloudinary.com/drfjcq9hg/image/upload/c_crop,g_auto,h_800,w_800/bushik123/qruteghh2vtskuxydg5o.jpg");
  }
  &:last-child {
    background-image: url("https://res.cloudinary.com/drfjcq9hg/image/upload/c_crop,g_auto,h_800,w_800/bushik123/tybvt3lsr0pqvnerqlkg.jpg");
  }
  &:nth-child(2) {
    background-image: url("https://res.cloudinary.com/drfjcq9hg/image/upload/f_auto,q_auto/v1/bushik123/qebzr5bqoxm5k90qnr2l");
    margin-right: 5%;
  }
  &:nth-child(3) {
    background-image: url("https://res.cloudinary.com/drfjcq9hg/image/upload/f_auto,q_auto/v1/bushik123/u8mmwzoj4004rtegzix3");
  }
}

.offers-container__title {
  font-family: "Lato", serif;
  font-size: 46px;
  font-weight: 900;
  line-height: 46px;
  color: #fff;
  margin: 35px 0 25px 35px;
  max-width: 426px;
}

.title-main {
  font-size: 74px;
  line-height: 74px;
  max-width: 678px;
}

.offers-container__subtitle {
  font-family: "Lato", serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 28.8px;
  color: #fff;
  margin: 0 0 25px 35px;
}

.subtitle-main {
  font-size: 26px;
  line-height: 31.2px;
}

.offers-container__link {
  border: 2px solid #ebff00;
  color: #ebff00;
  padding: 14px 40px;
  background: transparent;
  border-radius: 40px;
  font-family: "Lato", serif;
  font-size: 22px;
  font-weight: 700;
  display: block;
  width: fit-content;
  margin: 10px 0 35px 35px;

  &:hover {
    border: 2px solid #ebff0099;
    color: #ebff0099;
    transition: all 500ms;
  }
}

.offers-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.offers-container {
  width: 100%;
}

.offers-container__small {
  width: calc(50% - 2.5%);
}

.offers-spacer {
  width: 5%;
}

.journey {
  background: #1b2d58;
  padding: 25px 3% 50px;
}

.journey-title {
  font-family: "Lato", serif;
  font-size: 32px;
  font-weight: 900;
  line-height: 38.4px;
  color: #fff;
  margin: 0;
}

.journey-subtitle {
  color: #c8c0c0;
  font-family: "Lato", serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.journey-link {
  display: block;
  color: #ebff00;
  font-family: "Lato", serif;
  font-size: 20px;
  font-weight: 900;
  line-height: 24px;

  &:hover {
    color: #ebff0099;
    transition: all 500ms;
  }
}

.footer {
  background: #000;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    color: #ebff00;
    font-family: "Lato", serif;
    font-size: 18px;
    font-weight: 900;
    line-height: 28px;
    margin: 0 0 20px;
  }
}

@media (max-width: 1000px) {
  .discover-icon {
    right: -135px;
    top: -5px;
  }
}

@media (max-width: 850px) {
  .discover-text__wrapper {
    h1 {
      font-size: 48px;
      line-height: 48px;
      max-width: 411px;
    }
    p {
      font-size: 22px;
      line-height: 26.4px;
      max-width: 411px;
    }
  }
}

@media (max-width: 768px) {
  .offers-title {
    margin-bottom: 30px;
  }
  .offers-container__title {
    max-width: 212.81px;
    font-size: 40px;
    line-height: 40px;
    margin-left: 26px;
  }
  .offers-container__subtitle {
    font-size: 16px;
    line-height: 19.2px;
    margin-left: 26px;
  }
  .offers-container__link {
    padding: 7px 40px;
    font-size: 16px;
    line-height: 19.2px;
    margin-left: 26px;
  }
  .offers-container {
    width: 48%;
    margin: 0 0 40px;
    &:nth-child(2) {
      margin-right: 0;
    }
    &:nth-child(odd) {
      margin-right: 4%;
    }
  }
  .journey {
    padding-top: 15px;
    h2 {
      font-size: 24px;
      line-height: 29.8px;
    }
    p {
      font-size: 16px;
      line-height: 19.2px;
    }
    a {
      font-size: 16px;
      line-height: 19.2px;
    }
  }
}

@media (max-width: 650px) {
  .menu-list {
    display: none;
  }
  .burger-menu {
    display: block;
    position: relative;
  }

  .burger-toggle {
    display: none;
  }

  .burger {
    cursor: pointer;
    display: block;
    z-index: 5;
    position: inherit;
  }

  .burger div {
    width: 22.5px;
    height: 1.5px;
    background-color: #ffffff;
    margin: 4px 0;
    transition:
            transform 0.3s,
            opacity 0.3s;
  }

  .menu {
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0d1e48;
    padding-top: 70px;
    border-right: 1px solid #ddd;
    border-radius: 0 5px 5px 0;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
  }

  .menu ul {
    list-style: none;
    font-family: "Lato", serif;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    padding: 0;
    a {
      color: #fff;
    }
  }

  .menu ul li {
    padding: 15px 0;
    cursor: pointer;
    text-align: center;
  }

  .burger-icon__wrapper {
    display: flex;
    justify-content: center;
  }

  .menu ul a:hover {
    color: #ebff0099;
  }

  .burger-toggle:checked ~ .menu {
    transform: translateX(0);
  }

  .burger-toggle:checked ~ .burger div:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
  }

  .burger-toggle:checked ~ .burger div:nth-child(2) {
    opacity: 0;
  }

  .burger-toggle:checked ~ .burger div:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
  }

  .discover {
    padding-bottom: 50px;
  }
  .discover-icon {
    position: initial;
    margin-top: -227px;
    display: flex;
    justify-content: center;
  }
  .discover-text__wrapper {
    text-align: center;
    h1 {
      font-size: 36px;
      line-height: 36px;
      max-width: 293px;
      margin: 0 auto;
    }
    p {
      font-size: 16px;
      line-height: 19.2px;
      margin: 20px auto;
    }
    a {
      padding: 7px 40px;
      font-size: 16px;
      line-height: 19.2px;
    }
  }
  .offers-container {
    width: 100%;
    margin-bottom: 30px;
    h4 {
      max-width: 322px;
      margin-right: 19%;
    }
    &:nth-child(2) {
    }
    &:nth-child(odd) {
      width: 100%;
      margin-right: 0;
    }
  }
  .journey {
    h2 {
      font-size: 18px;
      line-height: 21.6px;
    }
    p {
      font-size: 14px;
      line-height: 16.8px;
    }
    a {
      font-size: 14px;
      line-height: 16.8px;
    }
  }
}
